# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/ledger-service/offset.dat
/ledger-service/.mvn
/ledger-service/target
/notification-service/.mvn
/notification-service/target

.idea/
/.vscode/settings.json
